<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>618941438947-eoq2kvsh4kb903ge7nu218uaqd4freud.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.618941438947-eoq2kvsh4kb903ge7nu218uaqd4freud</string>
	<key>API_KEY</key>
	<string>AIzaSyBohjhTPgGVgW20MCGQh-po6kfdgmepkLs</string>
	<key>GCM_SENDER_ID</key>
	<string>618941438947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hee462.firebase.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-my-app-18a52</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-my-app-18a52.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:618941438947:ios:fd21c4de942e0ae1579ed6</string>
</dict>
</plist>